/* Usado para importar regras de estilo de outras folhas de
 estilo. */
 @import"https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap";


 /* começo do segundo curso */
 body{
  padding-bottom: 4000px;
 }
/*background*/
 .background{
  background-color:  #39c;
  color: aliceblue;
 }
 p,
 .title-small {
  color: darkmagenta;
 }
 .title-small{
  font-size: 25px;
 }

 .background-image{
  background-image: url("https://cdn.pixabay.com/photo/2021/07/23/14/52/submarine-6487509_1280.png");
  padding: 200px;
  color: white;
 }

 #width-heigth{
  width: 200px;
  height: 100px;
  background-color: black;

 }
 #padding {
  background-color: rgb(61, 38, 83);
  padding: 20px;
  color: aliceblue;
}

#margin{
  width: 200px;
  height: 200px;
  background-color: #39c;
  margin: 20px;
}

#border {
  border: 3px solid red;
  width: 200px;
  height: 200px;
  padding: 40px;
  margin: 30px;
}

/*Border Radius*/
 #border-radius{
    width: 200px;
    height: 200px;
    background-color: rgb(42, 165, 42);
    border: 2px dashed rgb(255, 0, 0);
    border-radius: 10px;
    padding: 10px;
 }

#rgb,#hsl, #hex{
  width: 50px;
  height: 50px;
  margin: 10px;
}

#hex {
  background-color: #3655aa;
}

#rgb {
  background-color: rgb(133, 91, 172);
}

#hsl {
  background-color: hsl(45, 29%, 51%);
}

#center{
  text-align: center;
}

p{
  font-size: 25px;
}

#underline{
  text-decoration: underline;
}
#line{
  text-decoration: line-through;
}
#sem-underline{
  text-decoration: none;
}
#fonte-pequena{
  font-size: 10px;
}


#lower{
  text-transform: lowercase;
}

#upper{
  text-transform: uppercase;
}
#serif{
  font-family: Georgia;

}

#sans-serif{
  font-family: Helvetica;

}

#cursive{
  font-family: cursive;

}

.inline{
  width: 50px;
  height: 50px;
  background-color: red;
  margin: 5px;
  display: inline-block;

}
.block{
  width: 50px;
  height: 50px;
  background-color: blue;
  margin: 5px;
  display: block;
}

#none{
  display: none;
}
#relative {
  width: 50px;
  height: 50px;
  margin: 10px;
}
#relative{
  background-color: blueviolet;
  position: relative;
  top: 50px;
  left: 20px;
}
#absolute{
  background-color: #3655aa;
  position: absolute;
  top: 50px;
  right: 50px;
}
#absolute,
#fixed {
  width: 50px;
  height: 50px;
  margin: 10px;
}
#fixed{
  background-color: aqua;
  position: fixed;
  top: 100px;
  left: 45px;
}

#relative-2{
  width: 300px;
  height: 300px;
  border: 1px solid red;
  position: relative;

}
#absolute-1, #absolute-2{
  width: 50px;
  height: 50px;
  background-color: #3655aa;
  position: absolute;
}
#absolute-1{
  top: 10px;
  left: 10px;
}

#absolute-2{
  bottom: 10px;
  right: 10px;
}