/*Geral*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body{
    display: flex;
    flex-wrap: wrap;
}

/*Apresentção do Evento*/
#about-container{
    flex: 1,4;
    padding: 2rem 4rem;
}
#brand{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}
#brand img{
    height: 100px;
    margin-right: 0.6rem;
}
#exclusive{
    text-transform: uppercase;
    color: #0075ff ;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}
#about-container h2{
    font-size: 2.4rem;
    max-width: 500px;
    margin-bottom: 1rem;
}
#date{
    text-transform: uppercase;
    color: #aaaaaa;
    line-height: 2rem;
}
#description{
    max-width: 500px;
    margin-bottom: 1rem;
    line-height: 1.4rem;
}

#about-container h4{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
#users-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.user-card{
    border: 2px solid #ccc;
    padding: 1rem;
    width: 180px;
    text-align: center;
}
.user-card img{
    width: 120px;
    border-radius: 50%;
}
.user-card .user-name{
    font-weight: bold;
    margin-bottom: 0.6rem;
}

.user-card .user-role{
    color: #aaa;
    font-size: 0.9rem;
    margin-bottom: 0.6rem;
}
/*Formulário*/
#form-container{
    flex: 1;
    background-image: url("https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-52379.jpg?w=900&t=st=1686774805~exp=1686775405~hmac=cb00f7f2787b67d4e8e40f7b4acf0bea2a4b8c8e909fe833ddd1d506e63df511");
    background-size: cover;
    color: #ffff;
}
#form-inner{
    margin: 3rem;
    padding: 3rem;
    border: 2px solid #ffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form-inner h3{
    font-size: 2rem;
    margin-bottom: 1rem;
}
#form-inner p {
    margin-bottom: 1rem;
}
#register-form{ 
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
}
#name-container{
    display: flex;
    gap: 0.5rem;
}
#register-form input{
    padding: 0.5rem 0.6rem;
    border: none;
    border-radius: 3px;
}
#email{
    min-width: 100%;
}
#register-form input[type="submit"]{
    background-color: transparent;
    color: #ffff;
    border: 2px solid #ffff;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}

#register-form input[type="submit"]:hover{
    background-color: #ffff;
    color: #0075ff;
    
}
#benefits{
    text-align: left;
    align-self: start;
}

